body{
    margin: auto;
    text-align: center;
    background-color: azure;
}
.header{
    background-color: aliceblue;
    margin: auto;
    border: solid 1px black;
}
#forma {
    margin-top: 80px;
}